// colors
$accentColor = #346ace
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #346ace
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961